@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    

}

body {
    background-image: linear-gradient(to right,#FF0000, #6413E8);
}
main{
    background-color: white; width: 600px;
    padding: 10px;
    box-shadow: 5px 5px 15px #000000a9;
    margin: auto;
    border-radius: 10px;
}
h1 {
    color: #38CFFF;
    text-align: center;
    text-shadow: 1px 1px 0 #020003a4;
}

h2{
    color: #6413E8;
    
}
p {
    text-align: justify;
}